
.addQues{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addQues form{
    width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }